/*
* @Author: jpch89
* @Date:   2018-06-25 14:39:53
* @Last Modified by:   jpch89
* @Last Modified time: 2018-06-25 14:40:38
*/

div{
    width: 100px;
    height: 100px;
    background-color: pink;
}